
.listing-background{
    background-color: #1f1f1f;
}

.listing{
    overflow: hidden;
    /* text-overflow: ellipsis; */
    line-height: 1.5rem;
    overflow: hidden;
    outline: none;
}

.listing:focus{
    outline:none;
}

.listing-title{
    width:70%;
    text-align: left;
}

.listing-info{
    width: 20%;
}

.listing-unsave{
    width:10%;
}

.unsave-icon{
    max-width: 1rem;
    max-height: 1rem;
}


@media only screen and (max-width: 768px) {
    .listing-title{
        width:55%;
    }
    
    .listing-info{
        width: 35%;
    }
    
    .listing-unsave{
        width:10%;
    }
}